body.home-page {
	  margin:0 0 0 0;
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/index-bg.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: 100% 110%;
}
body.gender-page {
	  margin:0 0 0 0;
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/gender-bg.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: 100% 110%;
}
.header-wrapper {
  background: url("/img/hc-theme/header-line.png") repeat-x scroll 0 -30px transparent;
  background-size: contain;
  
  height: 150px;
  width: 100%;
}

 .header-wrapper .header { 
    background-attachment: inherit;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/logo.png");
    background-origin: padding-box;
    background-position: 55% -12px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;

}

.homepage-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.homepage-container .login-container {
	background: url("/img/hc-theme/signin-box.png") no-repeat scroll 90% -157px transparent;
	background-size: -moz-calc();
	height: 400px;
}


.gender-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.gender-container .choose-gender-box {
	background: url("/img/hc-theme/gender-box.png") no-repeat scroll 53% -157px transparent;
	background-size: -moz-calc();
	height: 400px;
	
}

.gender-container .choose-gender-box h1 {
	color : white;
	padding: 4% 0 0 42%;
	line-height:0.5
	;
}

.gender-container .choose-gender-box p {
	color : white;
	padding: 0 0 0 43%;
	line-height:1;
}

.gender-container .choose-gender-box input {
	color : white;
	padding: 0 0 0 43%;
}

.gender-container .choose-gender-box .username-wrapper {
	padding: 12.5% 38% 29%;
	
}
.gender-container .choose-gender-box #username {
	font-size: 13px;
	padding: 1.5% 0 0;
	border: 0px solid #000000;
	color: black;
	background-color: transparent;
}
.gender-container .choose-gender-box .male{
		border: 0px solid #000000;
    background-attachment: fixed;
    background-clip: inherit;
    background-color: transparent;
    background-image: url("/img/hc-theme/male-radio-n.png");
    background-origin: padding-box;
    background-position: 53% -19%;
    background-repeat: no-repeat;
    float: left;
    height: 30%;
    width: 50%;
}

.gender-container .choose-gender-box .male s{
    background-image: url("/img/hc-theme/male-radio-s.png");
}

.gender-container .choose-gender-box .female{
		border: 0px solid #000000;
    background-attachment: fixed;
    background-clip: inherit;
    background-color: transparent;
    background-image: url("/img/hc-theme/female-radio-n.png");
    background-origin: padding-box;
    background-position: 53% -19%;
    background-repeat: no-repeat;
    float: right;
    height: 30%;
    width: 50%;
    
}

.gender-container .choose-gender-box .female s{
    background-image: url("/img/hc-theme/female-radio-s.png");
}


.gender-container .choose-gender-box .username-box {
	   background: url("/img/hc-theme/username-box.png") repeat scroll 53% -87% transparent;
    height: 51%;
}

.homepage-container .login-container .sb-twitter {
	display:block;
	background: url("/img/hc-theme/tw-button.png") no-repeat scroll  85% 139px transparent;
	background-size: -moz-calc();
	height:200px;
}

.homepage-container .login-container .sb-facebook {
	display:block;
	background: url("/img/hc-theme/fb-button.png") no-repeat scroll  85% 13px transparent;
	background-size: -moz-calc();
	height:300px;
}

footer {
    background: url("/img/hc-theme/footer-line.png") repeat-x scroll 0 0 transparent;
    bottom: 0;
    padding-top:30px;
    height: 50px;
    background-size: contain;
    position: fixed;
    width: 100%;
    text-align:center;
   
}

 footer a, footer p{
	 font-size: 80%;
	 color: #cfb3a0;
	 line-height: 0;
	 text-decoration: none;
}