extends layout

block content
	body.chat-page
		.header-wrapper
			.header
			.user-header
				h2 Hi 
					=users.code_name
					!
				a.signout(href="/signout")
		.chat-container
			.current-photo
			.next-photo
			.previous-photo
			.chat-view
			.chat-text
				input#message(type='text', name='message')
				button#reply(type='button',name='reply')
