footer
	a(href='/page/about_us', target="_blank") About Us, 
	a(href='/page/privacy', target="_blank") Privacy Policy, 
	a(href='/page/terms', target="_blank") Terms and Conditions
	br
	| Like us on 
	a(href='http://facebook.com/hatchcatch' , target="_blank") Facebook
	br
	| Follow us on
	a(href='http://twitter.com/hatchcatch', target="_blank") Twitter