extends layout

block content
	body.home-page
		.header-wrapper
			.header
		.homepage-container
			.login-container
				a.sb-twitter(href="/auth/twitter") 
				a.sb-facebook(href="/auth/facebook") 
		include footer
		// JavaScript at the bottom for fast page loading 

